.bus-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  gap: 30px;

}

.bus-card{
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 16px;
  text-align: center;
}


.bus-image{
  width:100px;
  height:80px;
  object-fit: cover;
  margin: 0 auto 10px;
  border-radius: 8px;
}


.bus-title{
  font-size:18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.bus-rating{
  color: #fbbf24;
  font-weight:500;
}

.bus-info{
  color:#555;
  font-size: 14px;
  margin: 2px 0;
}


.book-btn{
  margin-top: 10px;
  background: #22c55e;
  color:white;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.book-btn:hover {
  background: #16a34a;

}
.search-box input {
  width: 100%;
  max-width: 500px;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  outline: none;
  transition: border-color 0.3s ease;
}
.search-box input:focus {
  border-color: #800020;
}