<div class="container-fluid hero-section d-flex flex-column align-items-center justify-content-start min-vh-100">
  

  <h2 class="text-white fw-bold mb-5">🚍 Welcome to Bus Reservation System</h2>


  <div class="row justify-content-center w-75 box-section">
    

    <div class="col-md-5 col-lg-4 mx-3 d-flex">
      <div class="card custom-card shadow-lg border-0 admin-card w-100 h-100">
        <div class="card-body text-center d-flex flex-column">
          <h3 class="card-title text-danger fw-bold">👨‍💼 Admin Login</h3>
          <p class="text-muted flex-grow-1">Manage buses and routes</p>
          <button class="btn btn-danger w-100 fw-bold mt-auto" routerLink="/login/adminlogin" routerLinkActive="active">Login as Admin</button>
          
        </div>
      </div>
    </div>

 
    <div class="col-md-5 col-lg-4 mx-3 d-flex">
      <div class="card custom-card shadow-lg border-0 user-card w-100 h-100">
        <div class="card-body text-center d-flex flex-column">
          <h3 class="card-title text-primary fw-bold">🧑‍💻 User Login</h3>
          <p class="text-muted flex-grow-1">Book tickets, view reservations, and manage your journey.</p>
          <button class="btn btn-primary w-100 fw-bold mt-auto" routerLink="/login/userlogin" routerLinkActive="active">Login as User</button>
        </div>
      </div>
    </div>

  </div>
</div>
